#root {
  width: 90vw;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  letter-spacing: 2px;
  text-align: center;
}

input {
  height: 4rem;
  font-size: 1.8rem;
  padding: 0.6rem 1rem;
  border-style: solid;
  border: 1px solid var(--dark-stroke);
  border-radius: var(--border-radius);
  background: inherit;
  box-sizing: border-box;
}

form {
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 1rem 3rem rgba(black, .175);
  background: var(--dark-fill);
}

.formItem {
  --label-length: 25%;
  --gap: 0.5em;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap);
  padding: 0.2em;

  label {
    width: var(--label-length);
    text-align: left;
  }

  input {
    flex-grow: 1;
  }
}

.checkbox {
  margin-block: 0.5rem;
  margin-left: calc(var(--label-length) + var(--gap));
  
  label {
    width: unset;
  }
  
  input {
    flex-grow: 0;
    height: 1.8rem;
    aspect-ratio: 1;
  }
}

.partitionedInputWrapper {
  display: flex;
  gap: 0.3em;
  width: calc(100% - var(--label-length));
  align-items: center;
  user-select: none;
  overflow-x: auto;

  input {
    text-align: center;
  }
}

table {
  margin-top: 1rem;
  width: 100%;
  table-layout: fixed;
}

th, td {
  text-align: center;
  
  input {
    width: 100%;
  }

  select {
    @extend input;
    height: 4rem;
    width: 100%;
    padding-block: 0;
  }

  option {
    @extend input;
    background-color: var(--dark);
  }

  button {
    width: 100%;
    padding-block: 0.75rem;
    margin: 0;
  }
}

td:nth-child(4), td:nth-child(5) {
  font-family: monospace;
  font-weight: bold;
}

pre {
  position: relative;
  padding: 0.7em 1em;
  border-radius: var(--border-radius);
  overflow: auto;
  box-shadow: inset 0 1px 2px rgba(black, .075);
  background-color: var(--dark) !important;
  
  button {
    transition: 2000ms;
    position: absolute;
    display: none;
    height: 2.5em;
    aspect-ratio: 1;
    margin: 0;
    top: 0.5em;
    right: 0.5em;
    --svg: url('../assets/clipboard.svg');
    background: var(--svg);
    background-color: var(--dark-fill);
    background-position: center;
    background-size: 1.2em;
    background-repeat: no-repeat;
    transition: background-image ease-in 700ms;
  }  
  
  button[data-copied] {
    --svg: url('../assets/check2.svg');
    transition: background-image ease-in 200ms;
  }
}

pre:hover {
  button {
    display: block;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  place-content: center;

  a:first-child svg {
    height: 3rem;
  }

  a {
    color: unset;
  }
}

@media (max-width: 650px) {
  form {
    padding: 0;
    box-shadow: none;
  }

  .formItem {
    flex-direction: column;
    align-items: flex-start;
    
    label, input {
      width: 100%;
      flex-grow: 1;
    }
  }
  
  .checkbox {
    flex-direction: row;
    align-items: center;
    margin-left: unset;

    label, input {
      width: unset;
      flex-grow: 0;
    }
  }

  .partitionedInputWrapper, table {
    width: 100%;
    padding-bottom: 1.2rem;
  }

  .tableWrapper {
    overflow: auto;
  }

  table {
    width: 800px;
  }
}

@media (prefers-color-scheme: light) {
  form {
    box-shadow: none;
    background: var(--light-fill);
  }

  th, td {
    option {
      background-color: var(--light);
    }
  }
}